@media (max-width:425px) {

    .main_h1 {
        font-size: 25px;
    }

    .title_1 img {
        width: 70%;
    }

    .card_title {
        gap: 40px;
        flex-wrap: wrap;
    }

    .card_title {
        margin-top: 45px;
    }

    .title_2 {
        width: 300px;
    }

    .title_3 {
        width: 300px;
    }

    .card_p {
        margin-top: 25px;
    }

    .card_foot {
        flex-wrap: wrap;
    }

    .discount .card_p {
        margin: -3px 0px 30px 0px;
    }
    .discount .card_p {
        font-size: 15px;
    }
}