@import url(https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.main_h1 {
    text-align: center;
    margin-top: 3%;
    color: #42A4D9;
    font-size: 30px;
}

.card_title {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.card_title {
    margin-top: 70px;
    color: #0C3D57;
}

.title_1 {
    text-align: center;
}

.title_1 img {
    margin-top: 20px;
    width: 100%;
}

.title_2 {
    text-align: center;
}

.qty {
    margin-top: 20px;
    padding: 6px 12px;
    border: none;
    outline: none;
    color: #0C3D57;
    font-size: 20px;
    border-radius: 8px;
}

.product_price {

    margin-top: 20px;
}

.title_3 {
    text-align: center;
}

.title_3 .product_price {
    color: #0C3D57;
    font-size: 20px;
    border: none;
    width: 55px;
    outline: none;
}

.remove_btn {
    margin-top: 20px;
}

.title_4 {
    text-align: center;
}

.title_4 .remove {
    padding: 10px 14px;
    background: #fff;
    border: 2px solid #42A4D9;
    font-size: 20px;
    border-radius: 8px;
}

.total_btn {
    padding: 10px 70px;
    font-size: 20px;
    background: #42A4D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: -15px;
}

.discount .card_p {
    padding: 10px 30px;
    font-size: 20px;
    background: #42A4D9;
    color: #fff;
    border: none;
    border-radius: 5px;
}

.card_p {
    margin-bottom: 20px;
    color: #043b58;
}

.card_foot {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}