*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    width: 50%;
    margin: 100px auto;
    text-align: center;
}

section form .input_fild{
    margin: 1rem 0;
}

section form .input_fild input{
    position: relative;
    width: 50%;
    height: 2rem;
    padding: 0 2rem;
    outline: none;
}

section form .input_fild input[type=submit]{
    border: none;
    background: green;
    color: #fff;
    font-size: 18px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: .5px;
    transition: all .2s ease-in-out;
}

section form .input_fild input[type=submit]:hover{
    background: #fff;
    border: 1.5px solid green;
    color: green;
}

section form .input_fild i{
    position: absolute;
    left: 60%;
    line-height: 2rem;
}